/*estilos globales*/
:root {
    --Soft-blue : hsl(215, 51%, 70%);
    --Cyan :  hsl(178, 100%, 50%);
    --main-BG : hsl(217, 54%, 11%);
    --card-BG : hsl(216, 50%, 16%);
    --line : hsl(215, 32%, 27%);
    --White : hsl(0, 0%, 100%);

    --paragraph : 18px;
}
/*font family*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--main-BG);
  }
  .container {
    display: grid;
    place-items: center;
  }
  .images--ev {
    display: grid;
    place-items: center;
  }  
  .card {    
    background-color: var(--card-BG);
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  .equilibrium {
    border-radius: 8px;
    margin: 10px;
    z-index: 1;
    background-color: var(--Cyan);
    width: 250px;
  }
  .view {
    border-radius: 8px;
    margin: 10px;
    position: absolute;
    z-index: -1;
  }
  .images--ev:hover .view {
    z-index: 2;
    cursor: pointer;
    position: absolute;
  }
  .equilibrium:hover {
    filter: opacity(.4);    
    cursor: pointer;
  }
  .content-title {
    display: flex;
    flex-direction: column;
    align-content: flex-start;    
    margin: 15px;
  }  
  .title {
    color: var(--White);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .title:hover {
    color: var(--Cyan);
    cursor: pointer;
  }
  .text-description {
    color: var(--Soft-blue);
    margin-bottom: 20px;
  }
  .price {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: space-between;
  }
  .eth {
    display: flex;
  }
  .clock {
    display: flex;
  }
  .txteth {
    margin-inline-start: 11px;
    color: var(--Cyan);
  }
  .days {
  margin-inline-start: 11px;
  color: var(--Soft-blue);
 }
 hr {
  width: -webkit-fill-available;
  margin-top: 25px;
  margin-bottom: 25px;
  color: var(--Soft-blue);
 }
 /*mediaqueries*/
@media (max-width: 375px) {
 .equilibrium {
   width: 90%;
 }
}
